{{#each this}}
  <li class='info'>
    <div class='info_container'>
      <img src='{{flags.svg}}' alt='{{name.official}}' width='35' height='20' />
      <h2 class='title_info'>{{name.official}}</h2>
    </div>
    <p><span>Capital:</span> {{capital}}</p>
    <p><span>Population:</span> {{population}}</p>
    <p>
      <span>Languages:</span>

      {{#each languages}} {{this}}{{#unless @last}}, {{/unless}} {{/each}}</p>

  </li>
{{/each}}